/* =============== VARIABLES ============== */
/*___COLORLS____*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* =============== HEADER ============= */
header {
  margin-top: -30px;
  background-image: url("../../images/bg-header-desktop.png");
  background-position: center;
  background-size: cover;
  padding: 100px 0 20px;
}

header .container {
  text-align: center;
}

header .container .logo {
  margin-bottom: 40px;
}

header .container .header__text {
  margin-bottom: 50px;
}

header .container .header__text h1 {
  margin-bottom: 10px;
  word-spacing: 3px;
}

header .container .header__text p {
  color: #9fabb2;
  max-width: 610px;
  margin: 0 auto;
}

header .container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

header .container .buttons a {
  background-color: #4c545d;
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 600;
}

header .container .buttons a.btn-ios {
  background-color: #26baa4;
  -webkit-box-shadow: -5px 10px 15px -10px #26baa4;
          box-shadow: -5px 10px 15px -10px #26baa4;
}

header .container .buttons a.btn-ios:hover {
  background-color: #29c7af;
}

header .container .buttons a.btn-mac {
  background-color: #6173ff;
  -webkit-box-shadow: -5px 10px 15px -10px #6173ff;
          box-shadow: -5px 10px 15px -10px #6173ff;
}

header .container .buttons a.btn-mac:hover {
  background-color: #7080fa;
}

/* ****** section-title *******/
.section-title {
  text-align: center;
  margin-bottom: 12px;
}

.section-title .f-container {
  max-width: 1200px;
}

.section-title + p {
  color: #9fabb2;
  text-align: center;
  max-width: 600px;
  margin: 5px auto 20px;
}

/*============== FEATURES =========== */
.features {
  padding: 80px 0;
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

.features .features__img img {
  max-width: 100%;
}

.features .feature {
  margin-bottom: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.features .feature h3 {
  margin-bottom: 10px;
}

.features .feature p {
  color: #9fabb2;
  line-height: 1.6;
}
/*# sourceMappingURL=styles.css.map */