/* =============== VARIABLES ============== */
/*___COLORLS____*/
/* ============== MIXINS ============= */
/* =============== BUTTONS ============ */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.buttons a {
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 600;
}

.buttons a.btn-ios {
  background-color: #26baa4;
  -webkit-box-shadow: -5px 10px 15px -10px #26baa4;
          box-shadow: -5px 10px 15px -10px #26baa4;
}

.buttons a.btn-ios:hover {
  background-color: #29c7af;
}

.buttons a.btn-mac {
  background-color: #6173ff;
  -webkit-box-shadow: -5px 10px 15px -10px #6173ff;
          box-shadow: -5px 10px 15px -10px #6173ff;
}

.buttons a.btn-mac:hover {
  background-color: #7080fa;
}

@media screen and (max-width: 488px) {
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buttons a {
    width: 206px;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .buttons a {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

@media screen and (max-width: 488px) {
  html {
    font-size: 15px;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

p {
  color: #9fabb2;
}

@media screen and (max-width: 488px) {
  p {
    line-height: 1.6;
  }
}

section {
  padding: 80px 0;
}

h1, h2, h3 {
  color: #4c545d;
}

/* =============== HEADER ============= */
header {
  margin-top: -30px;
  background-image: url("../../images/bg-header-desktop.png");
  background-position: center;
  background-size: cover;
  padding: 120px 0 20px;
}

header .container {
  text-align: center;
}

header .container .logo {
  margin-bottom: 40px;
}

header .container .header__text {
  margin-bottom: 50px;
}

header .container .header__text h1 {
  margin-bottom: 10px;
  word-spacing: 3px;
}

header .container .header__text p {
  color: #9fabb2;
  max-width: 610px;
  margin: 0 auto;
}

@media screen and (max-width: 488px) {
  header {
    background-image: url("../../images/bg-header-mobile.png");
  }
  header .logo img {
    width: 100px;
  }
}

/* ****** section-title *******/
.section-title {
  text-align: center;
  margin-bottom: 12px;
}

.section-title .f-container {
  max-width: 1200px;
}

.section-title + p {
  color: #9fabb2;
  text-align: center;
  max-width: 600px;
  margin: 5px auto 20px;
}

/*============== FEATURES =========== */
.features {
  padding: 80px 0;
}

.features .lg-container {
  max-width: 1800px;
  margin: auto;
}

.features .lg-container > p {
  max-width: 700px;
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  margin-top: 90px;
}

.features .features__img {
  overflow: hidden;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.features .features__img img {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

@media screen and (min-width: 1800px) {
  .features .features__img img {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.features .features__text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.features .features__text .feature {
  margin-bottom: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.features .features__text .feature h3 {
  margin-bottom: 10px;
}

.features .features__text .feature p {
  color: #9fabb2;
  line-height: 1.6;
  max-width: 400px;
}

@media screen and (max-width: 1174px) {
  .features .lg-container {
    padding: 0 15px;
    margin: auto;
  }
  .features__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
  }
  .features .features__img img {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .features .features__text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .features .features__text .feature {
    margin-bottom: 30px;
    width: 100%;
  }
  .features .features__text .feature h3 {
    margin-bottom: 10px;
    text-align: center;
  }
  .features .features__text .feature p {
    color: #9fabb2;
    line-height: 1.6;
    text-align: center;
    max-width: 90%;
    margin: auto;
  }
}

/* ================= CLIPBOARD ============== */
.clipboard__img {
  margin-top: 110px;
  text-align: center;
}

@media screen and (max-width: 488px) {
  .clipboard__img {
    margin-top: 60px;
  }
}

/* ============= WORKFLOW ========== */
.workflow {
  padding-top: 0px;
}

.workflow__content {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.workflow__content .card {
  text-align: center;
}

.workflow__content .card__img {
  height: 70px;
  width: auto;
}

.workflow__content .card__text p {
  margin-top: 10px;
  line-height: 1.4;
}

@media screen and (max-width: 714px) {
  .workflow .card p {
    max-width: 400px;
    margin: 10px auto;
  }
}

/* =============== PRATNERS ============ */
.partners__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  row-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.partners__grid img {
  max-width: 150px;
}

/*================ DOWNLOAD ============== */
.download {
  text-align: center;
  padding-bottom: 140px;
}

.download .buttons {
  margin-top: 50px;
}

/* ============ FOOTER ============*/
footer {
  background-color: #f5f7f7;
  padding: 40px 0;
  position: relative;
}

footer .footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

footer .footer__content .footer__logo {
  width: 53px;
  -ms-flex-item-align: top;
      -ms-grid-row-align: top;
      align-self: top;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
}

footer .footer__content .footer__links {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/span 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 70px;
}

footer .footer__content .footer__links li {
  margin-bottom: 15px;
}

footer .footer__content .footer__links li a {
  color: #4c545d;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

footer .footer__content .footer__links li a:hover {
  color: #26baa4;
}

footer .footer__content .footer__socials {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/span 2;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

footer .footer__content .footer__socials a i {
  font-size: 20px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  color: #4c545d;
}

footer .footer__content .footer__socials a:hover i {
  color: #26baa4;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5px;
}

footer .attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 700px) {
  footer .footer__content {
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    row-gap: 20px;
  }
  footer .footer__content .footer__links {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/span 10;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  footer .footer__content .footer__socials {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/span 4;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 560px) {
  footer .footer__content {
    display: block;
    text-align: center;
  }
  footer .footer__content .footer__logo {
    margin: 0 auto 30px;
  }
  footer .footer__content .footer__logo img {
    width: 60px;
  }
  footer .footer__content .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 15px auto;
  }
  footer .footer__content .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .attribution {
    font-size: 9px;
  }
}
/*# sourceMappingURL=styles.css.map */