/* ================= CLIPBOARD ============== */
.clipboard{
    &__img{
        margin-top: 110px;
        text-align: center;
    }

    @media screen and (max-width:488px) {
        &__img{
            margin-top: 60px;
        }
    }
}