/* ============= WORKFLOW ========== */
.workflow{
    padding-top: 0px;
    &__content{
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 30px;
        .card{
            text-align: center;
            &__img{
                height: 70px;
                width: auto;
            }
            &__text{
                p{
                    margin-top: 10px;
                    line-height: 1.4;
                }
            }
        }
    }
    @media screen and (max-width:714px) {
        .card{
            p{
                max-width: 400px;
                margin: 10px auto;
            }
        }
    }
}